@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>If you see this page, your authentication is succesfully!</p>

<p>Use this page to detail your site's privacy policy.</p>
